<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BDSistemaReservas" connectionString="Data Source=DESKTOP-4LLB66I;Initial Catalog=BDSistemaReservas;User ID={USUARIO_BD};Password={SENHA_BD};Encrypt=False"
        providerName="System.Data.Client"/>
	</connectionStrings>
</configuration>